---
import "@/styles/globals.css";
import MainLayout from "./Base.astro";
import type { BaseHeadProps } from "@/components/BaseHead.astro";
import Footer from "@/components/Footer.astro";
import Nav from "@/components/Nav";

export interface Props {
  seo?: BaseHeadProps;
}
const { seo } = Astro.props;
---

<MainLayout seo={seo}>
  <body
    class="scrollbar-thin scrollbar-thumb-theme_primary/70 scrollbar-thumb-rounded-lg"
  >
    <div class="gradient"></div>
    <div class="main"></div>
    <main class="font-poppins relative">
      <div class="flex flex-col min-h-screen">
        <Nav client:load />
        <slot />
        <Footer />
      </div>
    </main>
  </body>
</MainLayout>
