---
import Layout from "@/layouts/Layout.astro";
import { AlertTriangle } from "lucide-react";
---

<Layout title="404 Page">
  <div class="flex justify-center align-middle my-auto">
    <h1 class="text-xl md:text-5xl font-bold flex">
      <span
        class="bg-gradient-to-l from-pink-600 to-red-700 bg-clip-text text-transparent"
        >Oops</span
      >, link does not exist.
    </h1>
  </div>
</Layout>
