---
import type { BaseHeadProps } from "@/components/BaseHead.astro";
import LogoProcess from "@/components/LogoProcess";
import { Card, CardHeader, CardTitle, CardContent } from "@/components/ui/card";
import Layout from "@/layouts/Layout.astro";

export interface Props {
  seo?: BaseHeadProps;
}

const { seo } = Astro.props;
const page_seo = {
  ...seo,
  title: "About",
};
---

<Layout seo={page_seo}>
  <section class="py-12 p-4 md:mx-20">
    <h1 class="text-5xl text-center pb-8">
      About: <span
        class="font-semibold bg-gradient-to-l from-pink-600 to-red-700 bg-clip-text text-transparent"
        >The Organization</span
      >
    </h1>
    <div class="md:text-lg">
      <p class="mb-8 text-justify">
        <span class="font-bold text-theme_accent-light">Enigma</span>
        is an organization that invites aspiring students from
        <span class="font-bold">College of Computing Education (CCE)</span> to join
        its esteemed community. An exclusive tech community passionately committed
        to excellence in technology and fostering academic distinction.
      </p>
      <Card className="mb-8">
        <CardHeader>
          <CardTitle>Vision</CardTitle>
        </CardHeader>
        <CardContent>
          <p class="text-justify">
            We aspire to be a community of exceptional individuals equipped with
            the skills, knowledge, and mindset to excel in their respective
            fields of expertise, pioneering a path toward a future where
            technology is harnessed to make a profound and purposeful impact,
            driving progress forward.
          </p>
        </CardContent>
      </Card>
      <Card className="mb-8">
        <CardHeader>
          <CardTitle>Mission</CardTitle>
        </CardHeader>
        <CardContent>
          <p class="text-justify">
            Our mission is to create a community of exceptional technology
            students by providing resources, training, and support. We empower
            members with the skills, knowledge, and mindset to drive
            technological advancements. Through innovative programs, we foster a
            culture of collaboration, lifelong learning, and ethical
            responsibility, shaping a generation of professionals who will
            revolutionize industries and contribute to a better future.
          </p>
        </CardContent>
      </Card>
      <Card>
        <CardHeader>
          <CardTitle>Goals</CardTitle>
        </CardHeader>
        <CardContent>
          <div class="">
            <div>• To foster skill development</div>
            <div>• To facilitate peer mentoring</div>
            <div>• To create networking opportunities</div>
            <div>• To inspire leadership</div>
            <div>• To promote diversity and inclusion in the tech field</div>
            <div>• To stay at the forefront of technology</div>
            <div>• To cultivate a sense of belonging in the community</div>
            <div>• To create lifelong learning and personal growth</div>
            <div>• To develop a competitive spirit</div>
            <div>• To facilitate a culture of excellence and pride</div>
          </div>
        </CardContent>
      </Card>
    </div>
  </section>
  <!-- <section class="py-12 p-4 md:mx-20">
    <h1 class="text-5xl text-center pb-8">
      About: <span class="font-semibold">The Logo</span>
    </h1>
    <LogoProcess client:load />
  </section> -->
</Layout>
