---
import { Card, CardFooter, CardHeader } from "./ui/card";

const { month, date, size } = Astro.props;
---

<Card className="p-0 md:w-12 w-16 overflow-hidden">
  <CardHeader className="p-0 bg-gray-300 text-center">
    <p class="w-full text-xs py-0.5">{month.slice(0, 3).toUpperCase()}</p>
  </CardHeader>
  <CardFooter className="md:px-2 md:py-0 p-2">
    <p class="text-center md:text-2xl text-3xl font-bold w-full">{date}</p>
  </CardFooter>
</Card>
