---
import Layout from "@/layouts/Layout.astro";
import { getPost, getPosts } from "@/utils/sanity/client";
import type { InferGetStaticParamsType } from "astro";
import { PortableText } from "../../components/portabletext";
import { formatDate, imageUrlFor } from "@/utils/sanity";
import { Avatar, AvatarFallback, AvatarImage } from "@/components/ui/avatar";
import Author from "@/components/Author";

export async function getStaticPaths() {
  const posts = await getPosts();
  return posts.map((post) => ({
    params: { slug: post.slug.current },
  }));
}

type Params = InferGetStaticParamsType<typeof getStaticPaths>;
const { slug } = Astro.params as Params;

const post = await getPost(slug);
---

<Layout title={post.title!}>
  <div class="relative w-full h-[150px]">
    <div
      class="absolute inset-0 bg-center bg-cover"
      style={{
        backgroundImage: `url(${post.mainImage}`,
      }}
    >
    </div>
    <div class="absolute inset-0 bg-gradient-to-t from-white to-transparent">
    </div>
    <div class="absolute inset-0 bg-white bg-opacity-50"></div>
  </div>
  <article class="max-w-5xl mx-auto">
    <div class="mx-4 mt-6 md:mx-auto prose break-all">
      <div class="not-prose">
        <h1 class="text-4xl font-bold">
          {post.title}
        </h1>
        {post.author && <Author {post} client:load />}
      </div>
      <PortableText value={post.body} />
    </div>
  </article>
</Layout>
