---
import Events from "@/components/Events";
import {
  Card,
  CardHeader,
  CardTitle,
  CardDescription,
  CardContent,
  CardFooter,
} from "@/components/ui/card";
import Layout from "@/layouts/Layout.astro";
import { getPosts } from "@/utils/sanity";

const posts = await getPosts();
---

<Layout title="Events">
  <section class="mx-20">
    <Events posts={posts} client:load />
  </section>
</Layout>
