---
import { Facebook, FacebookIcon, Mails, School } from "lucide-react";
import { Separator } from "./ui/separator";
import { Badge } from "./ui/badge";
---

<footer class="bg-white">
  <Separator />
  <div class="flex pt-4 justify-between px-16">
    <div class="mb-8 px-4">
      <img src="/enigma_Horizontal.svg" alt="enigma" width="150" />
      <p class="pl-2 font-light">UM Enigma 2023-2024</p>
    </div>
    <div class="flex flex-col gap-y-2">
      <div class="font-bold">Socials</div>
      <a href="https://umindanao.edu.ph">
        <Badge
          className="flex bg-theme_accent-light rounded-full hover:bg-theme_primary"
        >
          <span class="pr-1"><School size={20} /></span> University
        </Badge>
      </a>
      <a href="https://facebook.com/um.enigma">
        <Badge
          className="flex bg-theme_accent-light rounded-full hover:bg-theme_primary"
        >
          <span class="pr-1"><Facebook size={20} /></span> UM Enigma
        </Badge>
      </a>
      <a href="mailto:um.cce.enigma@gmail.com">
        <Badge
          className="flex bg-theme_accent-light rounded-full hover:bg-theme_primary"
        >
          <span class="pr-1"><Mails size={20} /></span> Email
        </Badge>
      </a>
    </div>
  </div>
  <Separator />
  <div class="flex justify-center py-8 px-4">
    <div class="text-gray-500">Copyright &copy; 2023, All Rights Reserved.</div>
  </div>
</footer>
