---
import { imageUrlFor } from "@/utils/sanity";

type Asset = Parameters<typeof imageUrlFor>[0];

export interface Props {
  asset: Asset;
  alt: string;
}

const { asset, alt } = Astro.props;
const image = imageUrlFor(asset);
---

<div class="flex items-center">
  <img src={`${image}`} alt={alt} />
</div>
