---
import LoginCard from "@/components/LoginCard";
import { auth } from "@/firebase/server";
import Layout from "@/layouts/LoginLayout.astro";

/* Check current session */
// if (Astro.cookies.has("session")) {
//   const sessionCookie = Astro.cookies.get("session").value;
//   const decodedCookie = await auth.verifySessionCookie(sessionCookie);
//   const user = await auth.getUser(decodedCookie.uid);

//   if (user) {
//     return Astro.redirect("/");
//   }
// }
---

<Layout title="Sign in">
  <div class="flex justify-center items-center h-[75vh] mx-4">
    <LoginCard client:load />
  </div>
</Layout>
