---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Team">
  <div class="text-3xl font-bold text-center">ADVISER</div>
  <div class="flex justify-center pb-12"></div>
  <div class="text-3xl font-bold text-center">OFFICERS</div>
  <div class="flex justify-center gap-2 flex-wrap pb-12"></div>
  <div class="text-3xl font-bold text-center">COMMITTEES</div>
  <div class="text-sm font-light text-center pb-8">
    <!-- S.Y. {getCurrTerm.current_term} -->
  </div>
</Layout>
