---
import { Image } from "astro:assets";
---

<section class="pb-24 md:px-20">
  <!-- Flex Container -->
  <div
    class="relative flex flex-col-reverse justify-center px-6 mx-auto mt-10 space-y-0 md:space-y-0 md:flex-row"
  >
    <!-- Left item -->
    <div class="flex flex-col justify-center md:basis-1/2">
      <div
        class="pt-4 md:pt-0 text-5xl font-bold text-center md:text-8xl md:text-left text-rosecherry-900"
      >
        UM
      </div>
      <div
        class="text-5xl font-bold text-center md:text-8xl md:text-left text-bahamablue-700"
      >
        ENIGMA
      </div>

      <p
        class="text-center font-semibold text-darkGrayishBlue pt-12 md:text-left"
      >
        <span class="font-bold">Ignite Aspirations.</span> Spark Excellence.
      </p>
    </div>
    <!-- Image -->
    <div class="md:w-1/2">
      <Image
        src="/enigma_v3.svg"
        width="300"
        height="150"
        alt="enigma"
        class="mx-auto w-[300px]"
      />
    </div>
  </div>
</section>
