---
import Footer from "@/components/Footer.astro";
import Nav from "@/components/Nav";
import ReloadPrompt from "@/components/ReloadPrompt.astro";
import BaseLayout from "./BaseLayout.astro";
---

<BaseLayout>
  <div class="main"></div>
  <main class="font-poppins relative">
    <Nav client:only />
    <slot />
    <Footer />
  </main>
  <ReloadPrompt />
</BaseLayout>

<!-- <html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="UM Enigma Website" />
    <link rel="icon" href="/favicon.ico" />
    <link
      rel="apple-touch-icon"
      href="/apple-touch-icon-180x180.png"
      sizes="180x180"
    />
    <link rel="mask-icon" href="/mask-icon.png" color="#FFFFFF" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
    {pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} />}
  </head>
  <body>
     <div class="gradient"></div>
<div class="main"></div>
<main class="font-poppins relative">
  <Nav client:only />
  <slot />
  <Footer />
</main>
<ReloadPrompt />-->
