---
// import Events from "@/components/Events";
import {
  Card,
  CardHeader,
  CardTitle,
  CardDescription,
  CardContent,
  CardFooter,
} from "@/components/ui/card";
import Layout from "@/layouts/Layout.astro";
// import { getPosts } from "@/utils/sanity/client";

// const posts = await getPosts();
---

<Layout title="Events">
  <section class="py-12 px-4 md:px-20">
    Events
    <!-- <Events posts={posts} client:load /> -->
  </section>
</Layout>
